/* Titres
-------------------------------------------------- */
body {
    counter-reset : h2;
}

h2 {
    counter-reset : h3;
}

h2.caption {
    text-align: center;
}

h3 {
    counter-reset : h4;
}

h4 {
    counter-reset : h5;
}

h5 {
    counter-reset : h6;
}

article h2:before {
    content : counter(h2,decimal) ". ";
    counter-increment : h2;
}

article h3:before {
    content : counter(h2,decimal) "." counter(h3,decimal) ". ";
    counter-increment : h3;
}

article h4:before {
    content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
    counter-increment : h4;
}

article h5:before {
    content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
    counter-increment : h5;
}

article h6:before {
    content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
    counter-increment : h6;
}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {
    content : "";
    counter-increment : none;
}

/* Images
-------------------------------------------------- */
img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

div.info {
  color: grey;
  text-align: center;
  background-color: rgba(230, 242, 255, 0.5); 
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  border: 1px solid lightgrey;

}

/* Gallery
-------------------------------------------------- */
div.container{
  width: 90%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 200px;
  white-space: nowrap;
  display: inline-block;
}

div.gallery:hover {
  box-shadow: 1px 1px 2px black, 0 0 25px #66b3ff, 0 0 5px #e6f2ff;
  border: 1px solid #777;
}

div.gallery img {
  border-radius: 0px;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  max-height: 80%;
  max-width: 100%;
  width: 100%;
}

div.gallery p {
  padding: 6px;
  text-align: center;
}
