{% extends "base.html" %}

<!-- Begin page content -->
    <main role="main" class="container">
    {% block content %}
	{% if images %}
          {% for img in images %}              
              <h2 class="caption">{{img.title}}</h2>
	          <p>
	          {% if img.path %}
                  <img src={{url_for('static',filename="images/"+img.path)}} />
              {% else %}
                  <img src={{img.url}} />
              {% endif %}
              </p>
              <div class="info">
              Posted on : {{img.date[8:10]}}.{{img.date[5:7]}}.{{img.date[0:4]}} at {{img.date[11:13]}}:{{img.date[14:16]}}<br />
              {{img.note}}    <i class="fas fa-heart" style="color:Crimson;"></i>
              <form method="post">
               <input type="HIDDEN" name="ID" value={{img.id}} >
              	<input id={{img.id}} class="btn btn-outline-success" value="Upvote" type={{buttons[img.id]}}>
              <br/></form> 
              <br />
              |
              {% for th in themes.keys() %}
                  {% if img.id in themes[th] %}
                  	#{{th}} |
                  {% endif %}
              {% endfor %}
              </div>
              <br /><hr/>
          {% endfor %}
      {% else %}
	  <h1 class="mt-5" >Sorry ...</h1>
          <div class="alert alert-info" role="alert">
          <p class="error">No images were found :'(</p>
          </div>
      {% endif %}
    
	{% endblock content %}
    </main>
