{% extends "base.html" %}

<!-- Begin page content -->
    <main role="main" class="container">
    {% block content %}
	{% if images %}
          {% for img in images %}              
              <h2 class="caption">{{img.title}}</h2>
	      <p>
              <img src="{{img.path}}">
              </p>
              <p class="info">
              Posted on : {{img.date}}<br />
              <img class="heart" method="get" action="/upvote/" src="https://purepng.com/public/uploads/large/heart-icon-y1k.png" >{{img.note}}<br />
              {% for th in img.themes %}
                  #{{th}} |
              {% endfor %}
              </p>
              <br /><hr/>
          {% endfor %}
      {% else %}
          <div class="alert alert-info" role="alert">
          <p class="lead">No images yet :'(</p>
          </div>
      {% endif %}
    
	{% endblock content %}
    </main>
