<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="icon" href="https://www.insa-lyon.fr/sites/www.insa-lyon.fr/files/insa_favicon.ico">
  	<title>Neurchi de BIM Cave</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='sticky-footer-navbar.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
    <!--<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">-->
    
    {% block head %}{% endblock %}
    </head>
  <body>
  	<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">Neurchi de BIM Cave</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('latest') }}">Latest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('trending') }}">Trending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('random') }}">Random</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('albums') }}">Albums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('form') }}">Add Contribution</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0" method="get" action="/search/">
            <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text" name="pattern">
            <input class="form-control mr-sm-2" type="checkbox" aria-label="Search by field :" name="regexp">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>


    <!-- Begin page content -->
    <main role="main" class="container">
    {% block content %}{% endblock content %}
    </main>
    
    <footer class="footer">
      <div class="container">
        <span class="text-muted">By DJAFFARDJY Marine - JACQUEMET Elise - MOREAL DE BREVANS Théophile</span>
      </div>
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
